.Container{
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    font-weight: bold;
    padding: 10px;
}
.headerContainer
{
    background: tomato;
}
html,input {
font-family: sans-serif;
margin-left: 15px;
}
body {
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    padding: 2em;
}
form {
    margin-top: 50px;
}
div {
    margin-top: 19px;
    margin-bottom: 20px;
    display:flex;

    align-items: center;
}
label{
    width:40%;
}